
/* navbar */

/* laptop navbar */

@media (min-width: 1028px) {

  .mobile {
  display: none;
  }

  .mid {
    margin: 0 20px 0 20px;
  }

  #navbar {
    overflow: hidden;
    text-align: center;
    margin: 40px 10px 0 10px;
    padding: 4px;
  }

  .nav-bar-brand {
    height: 2.5rem;
  }

  .nav-bar-brand .img1 {
    height: 2.45rem;
    padding-bottom: .5rem;
  }

  .nav-bar-item {
    margin-left: 9%;
    margin-right: 9%;
  }

  .item3 {
    margin-left: 2%;
    margin-right: 12%;
  }

  .fas {
    visibility: hidden;
  }

  #navbar .nav-bar-item:hover {
    text-decoration: underline;
    text-decoration-color: #3ABA25;
    color: black;
  }

  #navbar .nav-bar-item {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    color: black;
    font-size: 2rem;
    text-decoration: none;
  }

  #navbar a {
    font-family: Playfair Display;
    font-style: normal;
  }
}

/* mobile navbar */

@media (max-width: 1028px) {

  body {

  }

.topnav {
  margin: auto;
}
  .laptop {
    display: none;
  }
  /* Style the navigation menu */
  .topnav {
    background-color: #3ABA25;
    text-align: center;
    margin-right: 0;
    border-right: 0;
  }

  .topnav img {
    width: 30%;
  }

  .topnav .logo {
    width: 9%;
    padding-bottom: 1%;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 200%;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    font-size: 400%;
    right: 0;
    top:-23px;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    color: white;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #3ABA25;
  }

  .leaf {
    display: none;
  }

  .mid {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 10%;
  }

}

/* buttons */

.btns {
  color: white;
  border: none;
  border-radius: 9px;
  font-size: 30px;
  background: #3ABA25;
  padding: 3px 20px 3px 20px;
  text-decoration: none;
}

.btns:hover {
  background-color: #154e0d;
  color: white;
}


/***********TAGS*************/
body{
  margin: 0;
  background-image: linear-gradient(to bottom right, #28900E,#3CBC1D,#78AB1D);
  color: white;
  font-family: 'Inter', sans-serif;
  line-height: 2;
}
h1{
  font-size: 5.625rem;
  line-height: 1;
}
a{
  text-decoration: none;
}
/**********CLASSES**********/

.nav_bar{
  height: 150px;
  width: 100%;
}

.middle_body{
  margin: 0;
  display: flex;

  width: 100%;
  padding-bottom: 50px;
}
.middle_left{
  margin: 0;
  padding-left: 50px;
  display: inline-block;
  width: 60%;
}
.middle_right{
  text-align: center;
  margin: 0;
  display: inline-block;
  width: 40%;
}
.footer{
  text-align: center;
  width: 100%;
  background-color: white;
}
.up_para{
  text-align: left;
  font-size: 1.75rem;
  width: 60%;
}
.down_para{
  text-align: left;
  font-size: 1.75rem;
  width: 70%;
  padding-top: 40px;
  line-height: 1.8;
}
.bottom_para{
  text-align: left;
  font-size: 2rem;
  padding-top: 70px;
  width: 90%;
  font-weight: bold;
  line-height: 1.2;
}
.butn1 {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: green;
   font-family: 'Inter', sans-serif;
   font-size: 2rem;
   font-weight:bold;
   padding: 8px;
   background-color: #FFFFFF;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-right: 25px;
   margin-bottom: 40px;
}

.butn1:hover {
   background: green;
   color: white;
   border: solid #F1F1F1 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.butn2 {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 2rem;
   font-weight: 400;
   padding: 8px;
   background-color: green;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-left: 25px;
}

.butn2:hover {
   background: #FFFFFF;
   color: green;
   border: solid #99C624 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.heading{
  margin: 0;
}
.popcorn_img{
  display: block;
  padding-top: 150px;
  padding-left: 50px;
  width: 60%;
}
.plus_img{
  padding-left: 140px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
}
.hands_img{
  display: block;
  padding-left: 70px;
  width: 40%;
}
.footer_para1{
  color: green;
  font-size: 1.75rem;
  margin: 0;
  display: block;
  font-family: 'Inter', sans-serif;

}
.footer_para2{
  color: green;
  font-size: 1rem;
  margin: 0;
  display: inline-block;

  font-family: 'Inter', sans-serif;
}
.connect{
  padding: 20px 30px 0 30px;
}
